.App {
  text-align: center;
}
/* 
body {
  background-image: url('back.gif');
  background-size: cover; 
  background-repeat: no-repeat; 
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  min-height: 100vh;
  background: radial-gradient(ellipse at right, #111316 0%, #14216d 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -1;
}

.star {
  --star-color: white;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 10 s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.47em;
  --top-offset: 34.38vh;
  --fall-duration: 8.057s;
  --fall-delay: 9.377s;
}
.star:nth-child(2) {
  --star-tail-length: 6.48em;
  --top-offset: 25.52vh;
  --fall-duration: 7.946s;
  --fall-delay: 8.88s;
}
.star:nth-child(3) {
  --star-tail-length: 6.28em;
  --top-offset: 25.6vh;
  --fall-duration: 8.502s;
  --fall-delay: 3.032s;
}
.star:nth-child(4) {
  --star-tail-length: 5.49em;
  --top-offset: 39.84vh;
  --fall-duration: 8.373s;
  --fall-delay: 9.066s;
}
.star:nth-child(5) {
  --star-tail-length: 6.74em;
  --top-offset: 93.3vh;
  --fall-duration: 11.495s;
  --fall-delay: 3.268s;
}
.star:nth-child(6) {
  --star-tail-length: 5.11em;
  --top-offset: 18.84vh;
  --fall-duration: 7.068s;
  --fall-delay: 9.927s;
}
.star:nth-child(7) {
  --star-tail-length: 6.32em;
  --top-offset: 62.73vh;
  --fall-duration: 9.045s;
  --fall-delay: 3.688s;
}
.star:nth-child(8) {
  --star-tail-length: 6.71em;
  --top-offset: 76.55vh;
  --fall-duration: 7.768s;
  --fall-delay: 6.3s;
}
.star:nth-child(9) {
  --star-tail-length: 6.37em;
  --top-offset: 16.66vh;
  --fall-duration: 9.335s;
  --fall-delay: 3.373s;
}
.star:nth-child(10) {
  --star-tail-length: 6.33em;
  --top-offset: 46.87vh;
  --fall-duration: 8.145s;
  --fall-delay: 9.613s;
}
.star:nth-child(11) {
  --star-tail-length: 6.89em;
  --top-offset: 14vh;
  --fall-duration: 9.129s;
  --fall-delay: 3.412s;
}
.star:nth-child(12) {
  --star-tail-length: 5.87em;
  --top-offset: 44.95vh;
  --fall-duration: 10.44s;
  --fall-delay: 9.833s;
}
.star:nth-child(13) {
  --star-tail-length: 5.5em;
  --top-offset: 9.26vh;
  --fall-duration: 10.625s;
  --fall-delay: 3.495s;
}
.star:nth-child(14) {
  --star-tail-length: 6.64em;
  --top-offset: 57.93vh;
  --fall-duration: 9.038s;
  --fall-delay: 5.084s;
}
.star:nth-child(15) {
  --star-tail-length: 5.1em;
  --top-offset: 24.97vh;
  --fall-duration: 9.031s;
  --fall-delay: 4.474s;
}
.star:nth-child(16) {
  --star-tail-length: 6.64em;
  --top-offset: 4.83vh;
  --fall-duration: 7.802s;
  --fall-delay: 8.875s;
}
.star:nth-child(17) {
  --star-tail-length: 6.88em;
  --top-offset: 28.62vh;
  --fall-duration: 7.592s;
  --fall-delay: 9.463s;
}
.star:nth-child(18) {
  --star-tail-length: 5.74em;
  --top-offset: 77.81vh;
  --fall-duration: 11.049s;
  --fall-delay: 0.285s;
}
.star:nth-child(19) {
  --star-tail-length: 7.31em;
  --top-offset: 67.22vh;
  --fall-duration: 11.162s;
  --fall-delay: 1.75s;
}
.star:nth-child(20) {
  --star-tail-length: 6.43em;
  --top-offset: 36.05vh;
  --fall-duration: 9.697s;
  --fall-delay: 7.885s;
}
.star:nth-child(21) {
  --star-tail-length: 7.13em;
  --top-offset: 33.69vh;
  --fall-duration: 6.543s;
  --fall-delay: 7.473s;
}
.star:nth-child(22) {
  --star-tail-length: 6.76em;
  --top-offset: 4.46vh;
  --fall-duration: 8.127s;
  --fall-delay: 1.16s;
}
.star:nth-child(23) {
  --star-tail-length: 7.23em;
  --top-offset: 93.31vh;
  --fall-duration: 9.477s;
  --fall-delay: 5.112s;
}
.star:nth-child(24) {
  --star-tail-length: 7.19em;
  --top-offset: 78.55vh;
  --fall-duration: 11.879s;
  --fall-delay: 0.735s;
}
.star:nth-child(25) {
  --star-tail-length: 6.85em;
  --top-offset: 80.69vh;
  --fall-duration: 9.148s;
  --fall-delay: 8.855s;
}
.star:nth-child(26) {
  --star-tail-length: 7.32em;
  --top-offset: 35.31vh;
  --fall-duration: 10.033s;
  --fall-delay: 2.528s;
}
.star:nth-child(27) {
  --star-tail-length: 6.47em;
  --top-offset: 51.34vh;
  --fall-duration: 7.531s;
  --fall-delay: 2.975s;
}
.star:nth-child(28) {
  --star-tail-length: 5.97em;
  --top-offset: 30.5vh;
  --fall-duration: 11.562s;
  --fall-delay: 3.488s;
}
.star:nth-child(29) {
  --star-tail-length: 5.05em;
  --top-offset: 21.67vh;
  --fall-duration: 8.615s;
  --fall-delay: 4.744s;
}
.star:nth-child(30) {
  --star-tail-length: 6.88em;
  --top-offset: 66vh;
  --fall-duration: 6.26s;
  --fall-delay: 3.837s;
}
.star:nth-child(31) {
  --star-tail-length: 7.13em;
  --top-offset: 25.66vh;
  --fall-duration: 7.575s;
  --fall-delay: 5.196s;
}
.star:nth-child(32) {
  --star-tail-length: 6.81em;
  --top-offset: 60.38vh;
  --fall-duration: 9.689s;
  --fall-delay: 5.616s;
}
.star:nth-child(33) {
  --star-tail-length: 5.59em;
  --top-offset: 19.44vh;
  --fall-duration: 7.781s;
  --fall-delay: 7.416s;
}
.star:nth-child(34) {
  --star-tail-length: 6.07em;
  --top-offset: 84.22vh;
  --fall-duration: 10.887s;
  --fall-delay: 5.482s;
}
.star:nth-child(35) {
  --star-tail-length: 6.04em;
  --top-offset: 35.73vh;
  --fall-duration: 7.065s;
  --fall-delay: 3.782s;
}
.star:nth-child(36) {
  --star-tail-length: 5.22em;
  --top-offset: 17.56vh;
  --fall-duration: 9.526s;
  --fall-delay: 1.206s;
}
.star:nth-child(37) {
  --star-tail-length: 5.48em;
  --top-offset: 33.59vh;
  --fall-duration: 8.509s;
  --fall-delay: 1.021s;
}
.star:nth-child(38) {
  --star-tail-length: 6.37em;
  --top-offset: 76.23vh;
  --fall-duration: 8.606s;
  --fall-delay: 5.202s;
}
.star:nth-child(39) {
  --star-tail-length: 7.18em;
  --top-offset: 23.31vh;
  --fall-duration: 9.12s;
  --fall-delay: 0.328s;
}
.star:nth-child(40) {
  --star-tail-length: 6.88em;
  --top-offset: 22.59vh;
  --fall-duration: 8.043s;
  --fall-delay: 3.135s;
}
.star:nth-child(41) {
  --star-tail-length: 7em;
  --top-offset: 97.75vh;
  --fall-duration: 11.276s;
  --fall-delay: 2.847s;
}
.star:nth-child(42) {
  --star-tail-length: 6.91em;
  --top-offset: 63.44vh;
  --fall-duration: 11.092s;
  --fall-delay: 0.73s;
}
.star:nth-child(43) {
  --star-tail-length: 6.52em;
  --top-offset: 58.09vh;
  --fall-duration: 11.564s;
  --fall-delay: 0.1s;
}
.star:nth-child(44) {
  --star-tail-length: 5.16em;
  --top-offset: 32.81vh;
  --fall-duration: 6.419s;
  --fall-delay: 8.993s;
}
.star:nth-child(45) {
  --star-tail-length: 6.25em;
  --top-offset: 93.36vh;
  --fall-duration: 10.31s;
  --fall-delay: 2.22s;
}
.star:nth-child(46) {
  --star-tail-length: 6.41em;
  --top-offset: 40.52vh;
  --fall-duration: 7.587s;
  --fall-delay: 9.686s;
}
.star:nth-child(47) {
  --star-tail-length: 5.06em;
  --top-offset: 32.27vh;
  --fall-duration: 6.803s;
  --fall-delay: 8.476s;
}
.star:nth-child(48) {
  --star-tail-length: 6.39em;
  --top-offset: 3.14vh;
  --fall-duration: 6.618s;
  --fall-delay: 5.446s;
}
.star:nth-child(49) {
  --star-tail-length: 5.22em;
  --top-offset: 93.01vh;
  --fall-duration: 9.346s;
  --fall-delay: 7.004s;
}
.star:nth-child(50) {
  --star-tail-length: 6.77em;
  --top-offset: 72.67vh;
  --fall-duration: 7.809s;
  --fall-delay: 3.393s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}